WebServicesJaxWs/wsdl/ServiceExcecutorSMPPService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://sms.ap.com" name="ServiceExcecutorSMPPService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://sms.ap.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sms.ap.com" schemaLocation="ServiceExcecutorSMPPService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="init">
    <part name="parameters" element="tns:init"/>
  </message>
  <message name="initResponse">
    <part name="parameters" element="tns:initResponse"/>
  </message>
  <message name="reconnectAfter">
    <part name="parameters" element="tns:reconnectAfter"/>
  </message>
  <message name="reconnectAfterResponse">
    <part name="parameters" element="tns:reconnectAfterResponse"/>
  </message>
  <message name="createSession">
    <part name="parameters" element="tns:createSession"/>
  </message>
  <message name="createSessionResponse">
    <part name="parameters" element="tns:createSessionResponse"/>
  </message>
  <portType name="SMSService">
    <operation name="init">
      <input wsam:Action="http://sms.ap.com/SMSService/initRequest" message="tns:init"/>
      <output wsam:Action="http://sms.ap.com/SMSService/initResponse" message="tns:initResponse"/>
    </operation>
    <operation name="reconnectAfter">
      <input wsam:Action="http://sms.ap.com/SMSService/reconnectAfterRequest" message="tns:reconnectAfter"/>
      <output wsam:Action="http://sms.ap.com/SMSService/reconnectAfterResponse" message="tns:reconnectAfterResponse"/>
    </operation>
    <operation name="createSession">
      <input wsam:Action="http://sms.ap.com/SMSService/createSessionRequest" message="tns:createSession"/>
      <output wsam:Action="http://sms.ap.com/SMSService/createSessionResponse" message="tns:createSessionResponse"/>
    </operation>
  </portType>
  <binding name="SMSServicePortBinding" type="tns:SMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="init">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reconnectAfter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSession">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServiceExcecutorSMPPService">
    <port name="SMSServicePort" binding="tns:SMSServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

